body {
	margin: 0;
	background: #FFFFFF;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #FFFFFF;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  height: 100px;
  width: 100px;
}

nav {
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #0x00ffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

{
nav a:hover::before {
  width: 100%;
}
h1{
	color: #FFFFFF;
	padding: 8px 20px;
}
button
 height: 5px;
  background-color: #444;

{
background-color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #FFFFFF;
  padding: 8px 20px;
 
	
}

  


 
	

