body{
	margin:0;
	background-image: url("bg3.jpg");
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	
}
.container{
	width: 80%;
	margin: 0 auto;
	background: white;
}
header{
	background-color: #white;
}
header: after{
	content: '';
	display: table;
	clear: both;
}
.logo{
	float: left;
	height: 55px;
	width: 55px;
}
nav{
	float: left;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 35px;
	position: relative;
}
nav a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}
nav a:hover{
	color:#000
}
nav a:before{
	content: '';
	display: block;
	height: 5px;
	background-color: #444;
	
	position: absolute;
	top: 0;
	width: 0%;
	
	transition: all ease-in-out 250ms;
}
nav a:hover::before{
	width: 100%;
}
.yy{
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	padding-top: 30px;
	width: 500;
	color: white;
	float: left;
	margin: 350px;
}
.e{
	position: center-left;
}



















